body {
  text-align: center;
  background-image: url(../Images/0000.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  width:1300px;
 position: relative;
 padding: 20PX;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 box-shadow:0PX 0PX 20PX  rgb(165, 95, 3);
 margin-top:30%;
 align-items: center;
 padding-bottom: 5%;

}


  ul{
      list-style: none;
  }
  a{
     text-decoration: none;
  }
  nav{
      display: flex;
      justify-content: space-between;
      align-items:center;
      height:60px;
      background-color:#e49a61 ;
      padding: 0px 5%;
   }
   nav ul {
       display: flex;
       color: #AB4542;
   }
   nav ul li a{
       margin: 30px;
       color:#E2C0A6;
       font-size: 17px;
   }
   .logo{
       font-family: 'Sansita Swashed', cursive;
       color:#592448;
       font-size: 22pX;
       
   }
   .active{
       font-weight: bold;
       color: #8f2925;
   }

.contact  {
  color:#b9590a ;
  line-height: 5px;
}
.contact h1 h3  {
  font-size: 32px;
 
}


input[type=text], select, textarea {
  width: 85%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin:6px;
  resize: vertical;
}

input[type=submit] {
  background-color: #b9590a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/*body{
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(../Images/0000.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.contact{
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4$ ease-in-out;

}
.contact h1{
  font-size: 32px;
  line-height:10px ;
}
.contact h3{
  font-size: 20px;
  
}
form{
  margin-top: 50px ;
  transition: all 4$ ease-in-out;
}
.contact-form{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}*/